.navbar {
     position: fixed;
     top: 0%;
     left: 0%;
     right: 0;
     height: 100px;
     padding: 10px 20px;
     text-align: center;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     a {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     audio,
     a {
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          border-radius: 100px;

          font-size: 20px;
     }
}
